@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*{
    font-family: "Lexend", sans-serif;
}

.bg-{
    background-image: url("asset/image/bekfron.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position:center ;
    
}